# Ignore everything.
**

# But include these files...
!.dockerignore
!.gitignore
!Dockerfile-prod
!LICENSE
!README.md
# ... and these files...
!src/
src/*
!src/go.mod
!src/main.go
!src/stg_types/
src/stg_types/*
!src/stg_types/blob/
src/stg_types/blob/*
!src/stg_types/blob/blob.go
